

#Overlay1{
    position: absolute;
    z-index:1;
    width:100%;height:100%;top:0px;left:0px;
    background-color: rgba(77, 75, 75, 0.363);
}

#Card{
    position: absolute;
    z-index:1;
    width:50%;height:40%;top:20%;left:30%;
    background-color: rgba(255, 254, 254, 0.897);
}


#GroupCover{
    position:absolute;
    top:5%;left:16.5%;
    width:64%;height:35.5%;
}

#undercover{

    position:absolute;
    top:41%;left:16.5%;
    width:64%;height:5%;
    background-color: rgb(255, 255, 255);
    

}