


#propost{
  position: absolute; width:70%;height:20%;top:46.1%;left:15%;
  border-color: aqua;
}

#Upper{
    position: absolute;
    top:0%;  width:100%; height:5%; left:0%;
    background-color: rgb(214, 255, 216);
    
}

#cmp{
    position: absolute;
    font:italic 15px times new roman;
    color:rgb(115, 117, 117);
   

}

#downpost{
    position: absolute;top:30%;
    width:100%;height:90%;
    background-color: white;
}

#mind{
    position: absolute;
    top:0%;
    width:100%;
    height:50%;
    font:italic 20px times new roman;
    color:rgb(145, 255, 240);
}

#PPrV{
    position: absolute;width:20%;height:80%;top:10%;left:3%;
    background-color:rgb(231, 231, 231);
    border-radius:50px;
    cursor:pointer;
 
}

#PV{
    position: absolute;top:30%;left:25%;
    font:14px times new roman;
}